* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.parent {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    background-color: #c8c8c8;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.parent div {
    background: red;
    color: white;
    text-align: center;
    padding: 10px;
    
}