* {
    box-sizing: border-box;
}

.parent {
    background: #eee;
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.parent div {
    background: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}